<nav class="links fadeIn animated">
    <ul>
        <!-- <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fab fa-fw fa-rss-square"></i></a></li> -->

        {{#if socialnetwork.github}}
        <li class="github"><a title="GitHub" href="{{socialnetwork.github}}"><i class="fab fa-fw fa-github-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.facebook}}
        <li class="facebook"><a title="Facebook" href="{{socialnetwork.facebook}}"><i class="fab fa-fw fa-facebook-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.twitter}}
        <li class="twitter"><a title="Twitter" href="{{socialnetwork.twitter}}"><i class="fab fa-fw fa-twitter-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.googleplus}}
        <li class="googleplus"><a title="Google plus" href="{{socialnetwork.googleplus}}"><i class="fab fa-fw fa-google-plus-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.instagram}}
        <li class="instagram"><a title="Instagram" href="{{socialnetwork.instagram}}"><i class="fab fa-fw fa-instagram"></i></a></li>
        {{/if}}
        {{#if socialnetwork.pinterest}}
        <li class="pinterest"><a title="Pinterest" href="{{socialnetwork.pinterest}}"><i class="fab fa-fw fa-pinterest-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.flickr}}
        <li class="flickr"><a title="Flickr" href="{{socialnetwork.flickr}}"><i class="fab fa-fw fa-flickr"></i></a></li>
        {{/if}}
        {{#if socialnetwork.twitch}}
        <li class="twitch"><a title="Twitch" href="{{socialnetwork.twitch}}"><i class="fab fa-fw fa-twitch"></i></a></li>
        {{/if}}
        {{#if socialnetwork.youtube}}
        <li class="youtube"><a title="Youtube" href="{{socialnetwork.youtube}}"><i class="fab fa-fw fa-youtube-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.discord}}
        <li class="discord"><a title="Discord" href="{{socialnetwork.discord}}"><i class="fab fa-fw fa-discord"></i></a></li>
        {{/if}}
        {{#if socialnetwork.steam}}
        <li class="steam"><a title="Steam" href="{{socialnetwork.steam}}"><i class="fab fa-fw fa-steam-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.linkedin}}
        <li class="linkedin"><a title="LinkedIn" href="{{socialnetwork.linkedin}}"><i class="fab fa-fw fa-linkedin-square"></i></a></li>
        {{/if}}
        {{#if socialnetwork.email}}
        <li class="email"><a title="Email" href="mailto:{{socialnetwork.email}}"><i class="fas fa-fw fa-envelope-square"></i></a></li>
        {{/if}}

    </ul>
</nav>
